html,
body {
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 0;
}

header {
    font-size: 42px;
    color: whitesmoke;
    background: url('../images/batbanner.jpg') no-repeat;
    background-size: cover;
    margin: 0;
    height: 180px;
}

nav {
    background-color: rgb(44,64,61);
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
background-color: rgb(73, 155, 188);
}

main {
    margin: auto;
    max-width: 64%;
    min-height: 400px;
    padding: 2em;
}

h1 {
    border-bottom: 4px double black;
}

footer {
    padding: 2em;
    height: 230px;
    background-color: rgb(44,64,61);
    color: whitesmoke;
    font-size: 18px;
}

.columns {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.onethird {
    width: 33%;
}

.twothirds {
    width: 66%;
}

.aside {
    border: 1px solid black;
}

.mines {
    width: 100%;
    background: url('../images/mines.jpg') no-repeat;
    background-size: cover;
}

.opaque {
    color: whitesmoke;
    background-color: rgba(138, 152, 165, 0.3);
}

.crafty {
    background: url('../images/mossy.jpg');
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;      
}
.droplinks {
    display: none;
    background-color: rgb(73, 155, 188);
    position: absolute;
    z-index: 1;
}
  
.dropdown:hover .droplinks {
    display: block;
}

.downright {
    margin-right: 0;
    margin-bottom: 0;
}