{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block body %}
<main>
    <h1>Magic number</h1>
    <p>Welcome to my pawesome magical homepage.</p>
    <p>This is the current lucky number: {{ number }}</p>
</main>
{% endblock %}
