{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}
{% block navbar_class %}crafty{% endblock %}
{% block body %}
<div class="mines">
    <main class="opaque">
        <h2>Your personality as a minecraft block. How exiting. Much happy. Very science.</h2>
        <p>Your minecraft block is {{ blockName }}. It means that you are {{ blockPersonality }}.
        </p>
        <img src="{{ asset('build/images/' ~ number ~ '.jpg') }}">
    </main>

</div>
{% endblock %}
{% block footer_class %}crafty{% endblock %}
