{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<main>
    <h1>This is my page</h1>
You are welcome to stay but beware of the animals. Do not feed them, it will end badly for you.
<img src="{{ asset('build/images/deranged.jpg') }}" alt="">

<p>I make it my mission in life to eat as much junk as a medium/large scavenging mammal can possibly devour without getting violently ill.</p>

</main>
{% endblock %}
