{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block main %}
<main class="main">
    <h1>Report</h1>
    <div id="kmom01">
        <h2>Kmom01</h2>
        <p>Objektorientering var ju på tapeten i förra läsperiodens Python-kurs. Där har jag en del kvar
            att förstå dock. I det här kursmomentet hann jag inte sätta mig så mycket in i den delen, det var tillräckligt
            med ännu ett nytt ramverk att hitta in och ut i kände jag. Av det lilla jag kunde ana mig till när jag mest kopierade
            från övningen verkar väl PHP's sätt att hantera klasser och objekt besläktat med det lilla jag lyckats greppa i Python och JavaScript så jag hoppas
            att det ska ge sig med tiden.
        </p>
        <p>Precis som i design-kursen tycker jag det är snårigt med de här ramverken. Man får så mycket mappar och filer som man
            varken förstår eller ens ska behöva förstå kanske, men det blir lite oöverskådligt. För en van användare är det säkert
            tydligt vilka fördelarna med ramverk, template-filer och andra verktyg är men för mig är det inte helt solklart.
            Trots att jag gjorde Symfony-övningen åtminstone två gånger har jag nog fler frågor än svar såhär i slutet av det första kursmomentet.
            Kanske är det såhär man jobbar ute i yrkeslivet också? Jag köper ju att man inte alltid behöver förstå alla delar av ett
            projekt eller ett ramverk för att kunna använda det och jobba med sina egna delar av det men det är svårgreppbart och förvirrande
            för en som inte har tidigare erfarenhet. Återigen måste man försöka bena ut vilka delar av koden som är idiomatiska (om man ens pratar
            om idiom i kodspråk?), vad man själv kan anpassa, hur man bäst delar upp det etc. Det är såklart lättare nu än i de första kurserna
            i höstas men känslan av att börja om från nästan noll är tung ibland.
        </p>
    </div>
</main>>{% endblock %}
